//@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.c-sidebar-brand {
    background: #ffffff !important
}

body {
    font-family: 'Kanit', sans-serif !important;
}

.notification-warning {
    color: #815c15;
    background-color: #feefd0 !important;
    border-color: #fde9bd !important;
}

.toast-header-warning {
    color: #4f5d73 !important;
    background-color: #f9b115 !important;
}

.notification-danger {
    color: #772b35;
    background-color: #fadddd !important;
    border-color: #f8cfcf !important;
}

.toast-header-danger {
    color: #fff !important;
    background-color: #e55353 !important;
}

.text-black {
    color:rgb(48, 46, 46);
}