// Variable overrides
$primary: #4788ff;
$secondary: #6c757d;
// $success: #37e6b0;
// $danger: #ff4b4b;
// $warning: #fe721c;
$info: #4890e4;
// $light: #c7cbd3;
// $dark: #01041b;
$body-bg: #f4f5fa;
$footer-light-bg: #f4f5fa;
